.nombre-usuario {
    text-align: center;
    margin-top: 20px;
  }
  
  .nombre-usuario h2 {
    font-size: 24px;
    color: #333;
  }
  
  .nombre-usuario input {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }